<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
      }

      form {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
        margin-bottom: 20px;
      }

      h2 {
        text-align: center;
        color: #333333;
      }

      label {
        display: block;
        margin-bottom: 8px;
        color: #555555;
      }

      input {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        box-sizing: border-box;
      }

      button {
        background-color: #007bff;
        color: #ffffff;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
      }

      button:hover {
        background-color: #0056b3;
      }

      footer {
        text-align: center;
        color: #777777;
      }

      span {
        text-align: right;
      }
    </style>
  </head>
  <body>
    <form action="/register" method="POST">
      <h2>Register Cihuy!</h2>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required />
      <br />
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" required />
      <br />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <br />
      <button type="submit">Register</button>
      <br />
      <br />
      <a href="/login">Back to login</a>
    </form>
    <footer>By Adit Cihuy!</footer>
  </body>
</html>
